body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#efefef;
    font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
    font-size: 13px;
}

.bcg-black {
    background-color: black;
}

.bcg-white {
    background-color: white;
}

.color-orange {
    color: #ff4422;
}

.color-light-black {
    color: #555;
}

.color-white {
    color: white;
}

.px11-fs {
    font-size: 11px;
}

.flex-container-desktop-navbars {
    text-decoration: none;
    width: 99.5%;
    height:200px ;
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.black-list-child,
.white-left-list-child, 
.white-right-list-child {
list-style: none;
}

.black-navbar {
    height: 32px;
    background: black;
}

.white-navbar {
    background: white;
}

.black-left-list,
.black-right-list,
.white-left-list,
.white-right-list {
    margin: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-navbar {
    padding-right: 6px;
    color: #979797;
    text-decoration: none;
}
.right-list-items {
    padding-left: 6px;
    text-decoration: none;
}

.counter {
    font-size: 22px;
}

.counter-image {
    width: 125px;
    height: 11px;
}

.white-link-navbar {
font-family: Shentox,sans-serif;
font-weight: 500;
text-transform: uppercase;
color:#aaa;
display: block;
height: 48px;
letter-spacing: .04em;
line-height: 1;
padding: 18px 10px 0;
text-decoration: none;
}

.learn-more-link {
    text-align: center;
    background-color: #0cc;
    line-height: 28px;
    font-size: 10px;
    font-weight: 900;
    border-radius: 3px;
    margin-left: 10px;
    padding: 0 12px;
}


/* nav-bar for desktop
nav-bars: 60% / 40%
black nav-bar: 2 list childs, justify space-between
white nav-bar: 2 list childs, justify space-between  */
@media (min-width: 1102px) {

}

/* 2 nav-bars without TNW logo 
   2 list left child has only the search logo  */
   @media (min-width: 1012px) and (max-width: 1101px) {
    .media1012px {
        display: none;
    }
}

/* 
Last use of larger nav-bars 
*/
@media (min-width: 757px) and (max-width: 1011px) {
    .media757px {
        display: none;
    }
}

/* bottom right child  hour and search icon appears */
@media (min-width: 811px) and (max-width: 1011px) {
    .media811px {
        display: none;
    }
}

/* start of the larger nav-bars
 the right top nav-bar dessapears
 the right bottom nav-bar dessapears  */
 @media (min-width: 756px) and (max-width:811px) {

}




/*
This is a different nav-bar, made it just for smallest -screens
black-nav-bar dissapears
 nav-bar: logo fixed size, search-box 2fr hamburger 1fr hour fixed size 
 main: 1fr. flew-column margin, flex-end, flex-start
 Latest-news: flex-wrap with fixed width*/
 @media (min-width: 468px) and (max-width: 755px) {

}

/*
This is a different nav-bar, made it just for smallest -screens
smallest screen-size breakpoint
nav-bar: logo fixed size, search-box(hour fixed-size) 2fr search-icon 1fr hamburger 1fr
main: 1fr. flew-column margin, flex-end, flex-start
 */
@media (max-width: 467px) {

}










