body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#efefef;
    font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
    font-size: 13px;
}

.bcg-black {
    background-color: black;
}

.bcg-white {
    background-color: white;
}

.color-orange {
    color: #ff4422;
}

.color-light-black {
    color: #555;
}

.color-white {
    color: white;
}

.px11-fs {
    font-size: 11px;
}

.desktop-logo{
    display: none;
}

.flex-container-desktop-navbars {
    text-decoration: none;
    width: 99.5%;
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.black-list-child,
.white-left-list-child, 
.white-right-list-child {
list-style: none;
}

.black-navbar {
    height: 32px;
}

.white-navbar {
height: 48px;
}

.black-left-list,
.black-right-list,
.white-left-list,
.white-right-list {
    margin: 0 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-navbar {
    padding-right: 6px;
    color: #979797;
    text-decoration: none;
}


.white-link-navbar {
font-family: Shentox,sans-serif;
font-weight: 500;
text-transform: uppercase;
color:#aaa;
display: block;
height: 48px;
letter-spacing: .04em;
line-height: 1;
padding: 18px 9px 0;
text-decoration: none;
}



/* nav-bar for desktop
nav-bars: 60% / 40%
black nav-bar: 2 list childs, justify space-between
white nav-bar: 2 list childs, justify space-between  */


/* 2 nav-bars without TNW logo 
   2 list left child has only the search logo  */
@media (min-width: 1022px) {
    .media-1022px{
        display: none;
    }
}

@media (min-width: 770px) and (max-width: 1022px) {
    .media-770 {
        display: none;
    }

    .tnw-white-logo {
        width: 70%;
        height: 70%;
    }

    .desktop-logo {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 100px;
        background: linear-gradient(#cd0198, #ff4422);
    }

    .flex-item {
    width: auto;
    margin-left: 8%;
    }
}

/* start of the larger nav-bars
 the right top nav-bar dessapears
 the right bottom nav-bar dessapears  */





/*
This is a different nav-bar, made it just for smallest -screens
black-nav-bar dissapears
 nav-bar: logo fixed size, search-box 2fr hamburger 1fr hour fixed size 
 main: 1fr. flew-column margin, flex-end, flex-start
 Latest-news: flex-wrap with fixed width*/
 @media   (max-width: 769px) {
    .media468px {
        display: none;
    }

    .grid-mobile-navbar-container {
        display: grid;
        grid-template-columns: 100px auto 48px 48px;
        width: 100vw;
        height: 150px;
        gap: 0;
    }

    .grid-nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid whitesmoke;
    }

    .g-nav-search-box {
        width: 100%;
    }

    .g-nav-icon-hamburger,
    .g-nav-icon-search,
    .g-nav-logo,
    .g-nav-search-box {
        height: 45px;
    }

    .g-nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 100px;
        background: linear-gradient(#cd0198, #ff4422);
    }

    .tnw-white-logo {
        width: 70%;
        height: 70%;
    }
    .g-nav-icon-hamburger {
        display: flex;
        justify-content: center;
        flex-flow: column;
    }

    .g-nav-icon-hamburger > div {
    background-color: #ff4422;
    height: 2px;
    margin-top: 4px;
    width: 20px;
    }


}

/*
This is a different nav-bar, made it just for smallest -screens
smallest screen-size breakpoint
nav-bar: logo fixed size, search-box(hour fixed-size) 2fr search-icon 1fr hamburger 1fr
main: 1fr. flew-column margin, flex-end, flex-start
 */










